node_modules/
.env
index1.ts
index3.ts
index.html
index2.html
per.html    
text
test.js
.env
.env.local
.env.*.local
build/
out/
dist
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

package-lock.json
