<%- contentFor('body') %>
    <%- include('../../layouts/header') %>
        <div class="content col-10">
            <!-- Header -->
            <div class="header" style="height: 64px;">
                <div class="user-section">
                    <i class="fa fa-github-alt" aria-hidden="true" style="font-size: 1.2rem;"></i>
                    <span class="user-name">Chat Bot</span>

                </div>

                <div class="icon-section">


                    <div class="search-container">
                        <!-- <input type="text" placeholder="Search" class="search-input">
                        <i class="fa fa-search"></i> -->
                    </div>
                </div>
            </div>

            <!-- COntent -->
            <div class="row box-content">

                <div class="chat-area col-8">

                    <div class="chat-content">
                        <% for (let item of chat) { %>
                            <div class="message <%= user._id == item.sender ? 'right' : 'left' %>">
                                <div class="bubble">
                                    <%= item.content %>
                                        <div class="time">20:06</div>
                                </div>
                            </div>
                            <% } %>
                    </div>


                    <form action="" method="POST" form-chatBot>
                        <div class="chat-footer">
                            <input id="input-chat" type="text" placeholder="message..."
                                style="flex: 1; padding: 5px;">
                            <button type="submit">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            </button>
                        </div>
                    </form>
                </div>


                <!-- Thông tin hội thoại -->
                <div class="info-panel col-4">
                    <div class="info-header">
                        <h3>Chat Bot</h3>
                    </div>
                    <div class="info-content">
                        <p>Thông tin chi tiết cuộc trò chuyện.</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            const chatSockets=io('/chat');
            let formChatBot = document.querySelector("[form-chatBot]");
            var user_ids = document.querySelector("[user_id]").getAttribute('user_id');
            if (formChatBot) {
                formChatBot.addEventListener("submit", (e) => {
                    e.preventDefault();
                    const input = document.getElementById("input-chat");
                    const value = input.value;
                    input.value = "";
                    if (value) {
                        chatSockets.emit("question-user", {
                            msg: value,
                            sender: user_ids
                        });
                    }
                })
                chatSockets.on('bot-sendback', data => {
                    console.log(data.msg);
                    const div = document.createElement("div");
                    const messageChat = document.querySelector(".chat-content");
                    div.classList.add("message");
                    div.classList.add(`${data.sender == user_ids ? 'right' : 'left'}`);
                    div.innerHTML = `
                            <div class="bubble">
                            ${data.msg}
                            <div class="time">20:06</div>
                            </div>
                            `;
                    messageChat.appendChild(div);
                });
            }

        </script>