<%- contentFor('body') %>
<%- include('../../layouts/header') %>
<div class="content col-10">
    <%- include('../../layouts/header-af.ejs') %>

    <div class="row box-content">

        <div class="chat-area">

            <div class="chat-content" online-list>
                
                

                </div>
            </div>
        </div>



        <!-- Thông tin hội thoại -->
        
    </div>
    <!-- <script src="/scriptjs/friend.js"></script> -->

