
  <div class="modal-main" hidden>
    <div class="modal-container">
    <div class="modal-headers">
      <h3 class="modal-title">Invite friends to donari's server</h3>
      <button class="close-button" onclick="closeInviteGr()" type="button">×</button>
    </div>
    
    
    <div class="divider"></div>
    
    <div class="friends-list">
      <% for(let item of friendList){%>
      <div class="friend-item-inviteGr">
        <div class="friend-info" friend-invite-group="<%= item._id%>">
          <div class="avatar">
            <svg class="discord-logo" viewBox="0 0 24 24">
           </svg>
          </div>
          <span class="username"><%= item.fullName%></span>
        </div>
        <button class="invite-button active" onclick="invitedFriend('<%=item._id%>','<%= newRoom._id%>')" type="button">Invite</button>
      </div>
      <%}%>
    </div>
  </div>
</div>
  